<div class="container" style="margin-top: 80px">
  <!-- Example row of columns -->
  <div class="row">

      <div class="col-md-3">
        <img src="https://www.bismalabs.co.id/resources/images/developer/fika.jpg" style="width: 200px;border-radius: 50%">
      </div>

      <div class="col-md-9">
        <p>
        <h3>Fika Ridaul Maulayya</h3>

        <span style="font-size: 18px;font-style: italic;font-weight: 300">Chief Technology Officer at Bisma Labs, seorang yang gemar mempelajari tentang dunia pemrogramman dan teknologi</span>
          <br>
          <a href="https://www.bismalabs.co.id">https://www.bismalabs.co.id</a>
        </p>
      </div>

  </div>
